.post{
    display: flex;
    flex-direction: column;
}
.post__body{
    display: flex;
    align-items: flex-end;
    border-radius: 1rem;
    border: 1px solid goldenrod;
    padding: 1rem;
    margin: 1rem;
}

.post__bodyLeft h4{
    color:rgb(153, 153, 153);
}
.avatar{
    /* truco para montar un div encima de otro */
    margin-top: -2rem;
    margin-left: -2rem;
}
.post__icons{
    display: flex;
    align-items: flex-start;
}
.post__icons h3{
  color: rgb(134, 176, 192);  
  margin-bottom: 5rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}


